<div>
	<p>
	<h2>Client information:</h2>
	<h3>Full name:</h3> {firstname}<br />
	<h3>Phone number:</h3> {phone1}<br />
	<h3>Email:</h3> {email} <br />
	<h3>Page URL:</h3> {pageUrl} <br />
	<br />
	<h2>Moving information:</h2>
	<h3>Landing address:</h3> {fromzip}
	<h3>Destination address:</h3> {tozip} <br />
	<h3>Move Date:</h3> {movedate}
	<h3>Move Time:</h3> {movetime}
	<br />
	<h3>Distance:</h3> {distance} ml <br />
	<h3>Move Size:</h3> {movesize} ft<sup>3</sup> <br />
	<br />
	<h2>Client inventory:</h2>
	{inventoryStringArray}
	</p>
	<br />
	<h3>Additional service:</h3>{extras}<br />
	<br />
	{utmCookies}
</div>

